body {
  margin: 50px;
  padding: 0;
  font-family: sans-serif;
}

label {
  font-size: 13px;
}

.seat {
  display: inline-block;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.flightdeets {
  color: indianred;
  letter-spacing: 6px;
};
